.vscode/c_cpp_properties.json
python/__pycache__
d1_mini_8266/.vscode/c_cpp_properties.json
d1_mini_8266/.vscode/launch.json
wemos_d1_mini32/.vscode/c_cpp_properties.json
wemos_d1_mini32/.vscode/launch.json
